body {
  font-family: var(--primery-font);
  background-color: var(--background-color);
  color: var(--text-primery);
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
address {
  font-style: normal;
}

/* ======== header styles starts here ======= */
.header {
  border-bottom: 1px solid #ececec;
}
.header-nav {
  display: flex;
  align-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;
  display: flex;
  font-family: var(--tittle-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--tittle-text-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--theme-color);
}
.site-nav__link--active {
  color: var(--theme-color);
}
.site-nav__link--active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -35px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--theme-color);
}

.header-nav__logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--tittle-text-color);
  text-decoration: none;
}
.header-nav__web {
  color: var(--theme-color);
}
.linkbox {
  display: flex;
  margin-left: auto;
  font-family: var(--text-primery);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--text-primery);
  text-decoration: none;
}
.linkbox .linkbox__item + .linkbox__item {
  margin-left: 50px;
}
.linkbox > .linkbox__item {
  margin-left: auto;
}
.linkbox__link {
  display: block;
  font-family: var(--tittle-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-primery);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.linkbox__link:hover,
.linkbox__link:focus {
  color: var(--theme-color);
  fill: var(--theme-color);
}

.envelope svg {
  width: 19px;
  height: 12px;
  margin-right: 10px;
}

.phone svg {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.linkbox > .linkbox__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*==========section hero=============*/

.section-hero {
  background-color: var(--tittle-text-color);

  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  max-width: 1600px;
  margin: 0 auto;
}
.section-order__hero {
  width: 696px;

  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
.button__order {
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: 0px;
  background-color: var(--theme-color);
  color: #ffffff;
}
/*==========================modal===================*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  min-height: 581px;
  background-color: #ffffff;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--background-color);
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button:hover,
.modal__button:focus {
  color: var(--theme-color);
}
.modal__close {
  width: 18px;
  height: 18px;
  fill: currentColor;
}
.modal__close:hover {
  fill: var(--theme-color);
}
.modal__form {
  padding: 40px;
}
.modal__lable {
  display: block;
  margin-bottom: 10px;
  color: var(--text-primery);
  font-size: 12px;
  position: relative;
}
.modal__comment {
  margin-bottom: 25px;
}
.modal__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;

  color: var(--tittle-text-color);
}
.modal__input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 0px 10px 0px 40px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__textarea {
  height: 120px;
  resize: none;
  font-family: inherit;
  padding-top: 12px;
  padding-left: 16px;
}
.modal__input:focus {
  outline: none;
  border: 1px solid var(--theme-color);
}
.modal__input:focus + svg {
  fill: var(--theme-color);
}
.modal__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.button-send {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 0px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 10px;
  top: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__checkbox-agree {
  font-size: 14px;
  color: var(--text-primery);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.modal__checkbox-agree::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 0.5px solid var(--tittle-text-color);
  border-radius: 2px;
  margin-right: 7px;
}
.modal__checkbox-agree a {
  color: var(--theme-color);
  text-decoration: underline;
}
.modal__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal__checkbox:checked + .modal__checkbox-agree::before {
  background-color: var(--theme-color);
  text-decoration: underline;
  background-image: url(../images/icons/modal-icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.modal__checkbox:focus + .modal__checkbox-agree::before {
  border: 1px solid var(--theme-color);
}

/*============section quality==========*/

.section-quality {
  padding-top: 94px;
}
.quality__text {
  align-items: center;
}
.quality {
  display: flex;
  flex-wrap: wrap;
}
.quality__item {
  width: 270px;
}
.quality__item:not(:last-child) {
  margin-right: 30px;
}
.quality__pic {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}
.quality__pic {
  display: flex;
  align-items: center;
  justify-content: center;
}
.quality__icon {
  width: 70px;
  height: 70px;
}
.quality__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #212121;
}
.quality__info {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

/*=========section about us=======*/

.aboutus {
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
}
.aboutus__list {
  display: flex;
}
.aboutus__list > .aboutus__item:not(:last-child) {
  margin-right: 30px;
}
.aboutus__pic {
  position: relative;
}
.aboutus__description {
  position: absolute;
  display: flex;
  bottom: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}
.aboutus__description-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.aboutus__title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}
/*=========section our team======*/
.section-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-list__crew {
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list {
  display: flex;
}
.team-list__item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__item:not(:last-child) {
  margin-right: 30px;
}
.team-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: #212121;
}
.team-list__profession {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.team-list__media-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list__social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}
.team-list__link:not(:last-child) {
  margin-right: 10px;
}
.team-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.team-list__media-box:hover,
.team-list__media-box:focus {
  background-color: var(--theme-color);
  color: var(--background-color);
  fill: var(--background-color);
}

/*========section clients=======*/
.section-clients {
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}
.clients-list {
  display: flex;
}
.clients-list__item:not(:last-child) {
  margin-right: 30px;
}
.clients-list__link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__logo {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
.clients-list__link:hover,
.clients-list__link:focus {
  color: var(--theme-color);
  fill: var(--theme-color);
  border: 1px solid var(--theme-color);
}

/*=============portfolio=========*/
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolios-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolios-buttons__name {
  border-radius: 4px;
  border: 0px;
  padding: 6px 22px;
  min-width: 73px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  background-color: #f5f4fa;
  color: #212121;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolios-buttons > .portfolios-buttons__item:not(:last-child) {
  margin-right: 8px;
}

.portfolios-buttons__name:hover,
.portfolios-buttons__name:focus {
  color: var(--background-color);
  background-color: var(--theme-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.portfolio-list > .portfolio-list__item {
  position: relative;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list__item-thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-list__item-thumb:hover::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--theme-color);
  opacity: 0;
}
.portfolio-list__content-hover {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__content-hover .content:hover {
  opacity: 1;
}

.portfolio-list__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  padding-top: 63px;
  padding-left: 24px;
  padding-bottom: 63px;
  padding-top: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  align-items: center;

  letter-spacing: 0.03em;

  color: #ffffff;
  opacity: 1;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__content-hover:hover .portfolio-list__content,
.portfolio-list__content-hover:focus .portfolio-list__content {
  transform: translateY(0);
}

.portfolio-list__content-hover:hover,
.portfolio-list__content-hover:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list > .portfolio-list__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.portfolio-list > .portfolio-list__item:nth-child(3n) {
  margin-right: 0px;
}
.portfolio-list__description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.portfolio-list__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-list__project {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}

/*=========footer start here=========*/

.footer {
  background-color: var(--tittle-text-color);
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: center;
}

.footer-main {
  display: flex;
  align-items: baseline;
}

.footer-main__list {
  margin-right: 70px;
}

.footer-main__logo {
  display: block;
  margin-bottom: 30px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--background-color);
}
.footer-main__logo-web {
  color: var(--theme-color);
}
.footer-main__adress {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.footer-main__contacts {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-main__link {
  color: rgba(255, 255, 255, 0.6);
}
.footer-main__contacts > .footer-main__item:not(:last-child) {
  margin-bottom: 9px;
}

.media-footer__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: #ffffff;
}

.media-footer__social {
  display: flex;
}
.media-footer__icon {
  width: 20px;
  height: 20px;
  fill: white;
}
.media-footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-footer__zone {
  width: 44px;
  height: 44px;
}
.media-footer__social > .media-footer__zone:not(:last-child) {
  margin-right: 10px;
}
.media-footer__link:hover,
.media-footer__link:focus {
  background-color: var(--theme-color);
  color: var(--background-color);
  fill: var(--background-color);
}
/*===============footer subscription==========*/
.subscription {
  margin: 0 auto;
  align-items: center;
}
.subscription__label {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--background-color);
  margin-top: 0;
  margin-bottom: 20px;
}
.subscription__form {
  background-color: var(--tittle-text-color);
  display: flex;
  align-items: center;
}
.subscription__input {
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--background-color);
}
.subscription__input:focus {
  outline: none;
  border: 1px solid var(--theme-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscription__button {
  display: flex;
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding-left: 29px;

  color: var(--background-color);

  background-color: var(--theme-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
}
.subscription__icon {
  width: 24px;
  height: 24px;
  fill: var(--background-color);
  margin-left: 10px;
}
