//variables
@import "./utils/vars.scss";
@import "./utils/breakpoints";
//base styles
@import "./base/reset.scss";
@import "./base/base-styles.scss";
//layout
@import "./layout/header.scss";
@import "./layout/hero.scss";
@import "./layout/quality.scss";
@import "./layout/aboutus.scss";
@import "./layout/our-team.scss";
@import "./layout/clients.scss";
@import "./layout/portfolio.scss";
@import "./layout/footer.scss";
@import "./layout/modal.scss";
