.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  &.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  width: 528px;
  min-height: 581px;
  background-color: #ffffff;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button {
  position: absolute;
  cursor: pointer;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--background-color);
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--theme-color);
  }
}

.modal__close {
  width: 18px;
  height: 18px;
  fill: currentColor;
  &:hover {
    fill: var(--theme-color);
  }
}

.modal__form {
  padding: 40px;
}
.modal__lable {
  display: block;
  margin-bottom: 10px;
  color: var(--text-primery);
  font-size: 12px;
  position: relative;
}
.modal__comment {
  margin-bottom: 25px;
}
.modal__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;

  color: var(--tittle-text-color);
}
.modal__input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 0px 10px 0px 40px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    outline: none;
    border: 1px solid var(--theme-color);
  }
  &:focus + svg {
    fill: var(--theme-color);
  }
}
.modal__textarea {
  height: 120px;
  resize: none;
  font-family: inherit;
  padding-top: 12px;
  padding-left: 16px;
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.button-send {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 0px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 10px;
  top: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__checkbox-agree {
  font-size: 14px;
  color: var(--text-primery);
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  &::before {
    content: "";
    width: 16px;
    height: 16px;
    border: 0.5px solid var(--tittle-text-color);
    border-radius: 2px;
    margin-right: 7px;
  }
}

.modal__checkbox-agree a {
  color: var(--theme-color);
  text-decoration: underline;
}
.modal__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.modal__checkbox:checked + .modal__checkbox-agree::before {
  background-color: var(--theme-color);
  text-decoration: underline;
  background-image: url(../images/icons/modal-icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.modal__checkbox:focus + .modal__checkbox-agree::before {
  border: 1px solid var(--theme-color);
}
